config:
  Rancher-Demo-Env:downstreamClusterEC2Size: t2.xlarge
  Rancher-Demo-Env:fleetClustersEC2Size: t2.medium
  Rancher-Demo-Env:installCIS: "true"
  Rancher-Demo-Env:installDownstreamCluster: "false"
  Rancher-Demo-Env:installFleetClusters: "true"
  Rancher-Demo-Env:installIstio: "true"
  Rancher-Demo-Env:installLogging: "true"
  Rancher-Demo-Env:installLonghorn: "true"
  Rancher-Demo-Env:installMonitoring: "true"
  Rancher-Demo-Env:installOPA: "true"
  Rancher-Demo-Env:rancherEC2AccessKey:
    // set as appropriate
  Rancher-Demo-Env:rancherEC2SecretKey:
    // set as appropriate
  aws:region: eu-west-2
  rancher2:accessKey:
    // set as appropriate
  rancher2:apiUrl: https://rancherurl.com
  rancher2:secretKey:
    // set as appropriate
